@use "../../global" as *;

.nav-bar {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  height: 80px;
  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 234px;
    height: 56px;
    left: 101px;
    bottom: 0px;
    .link {
      text-decoration: none;
      .menu-item {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        height: 100%;
        padding: 32px 16px;
        padding-top: 0px;
        border-bottom: 2px solid transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .menu-item.active {
      border-bottom: 2px solid $primaryColor;
      color: $primaryColor;
    }
  }

  .logo {
    position: absolute;
    width: 31.18px;
    height: 28.62px;
    left: calc(50% - 31.18px / 2);
    top: calc(50% - 28.62px / 2 + 4.5px);
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 22px;

    position: absolute;
    width: 204px;
    height: 40px;
    right: 101px;
    top: 23px;

    .empty-cart {
      cursor: pointer;
      width: 20px;
      height: 18px;
      position: relative;

      .item-count {
        width: 20px;
        height: 20px;
        background-color: $secondaryColor;
        border-radius: 50%;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        left: 70.5%;
        // right: 6.11%;
        bottom: 43.75%;
      }
    }

    .currency-switcher {
      height: 29px;
      position: absolute;
      top: 5.5px;
      left: 124px;
      cursor: pointer;
      z-index: 100;
      .currency-icon {
        width: 36px;

        //position: absolute;
        //left: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        display: flex;
        //align-items: flex-end;
        justify-content: center;
        color: $secondaryColor;
      }
      .currency-options {
        position: absolute;
        width: 114px;
        height: auto;
        top: 29px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .currency {
          list-style: none;
          display: flex;
          height: 45px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .currency:hover {
          background: #eeeeee;
        }
      }
      .arrow-down {
        position: absolute;
        right: -0px;
        top: 53.75%;
        bottom: 38.75%;
        width: 6px;
        height: 3px;
      }
    }
  }
  .cart-items {
    position: absolute;
    z-index: 90;
    left: 1043px;
    top: 78px;
  }
  .none {
    display: none;
  }
}
