.category-wrapper {
  width: 100%;
  .category-name {
    margin: 80px 0px 103px 101px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 103px;
    column-gap: 40px;
    margin-left: 100px;
    max-width: 1238px;
    justify-content: flex-start;
  }
  .link {
    text-decoration: none;
  }
}
