@use "../../global" as *;
.card {
  cursor: pointer;
  width: 386px;
  max-height: 444px;

  .wrapper {
    height: 412px;
    margin: 16px;
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .content {
      display: flex;
      flex-direction: column;
      .title {
        @include content(18px, 300, 29px);
        align-items: center;
      }

      .price {
        @include content(18px, 500, 29px);
        align-items: center;
      }
    }
  }
  .image {
    height: 330px;
    width: 354px;
    object-fit: cover;
  }
  .image:hover {
    animation: darken 0.5s both;
  }
}
.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

@keyframes darken {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(80%);
    transform: scale3d(1, 1, 1);
  }
}
