@use "../../../global" as *;
.pdp {
  .options {
    display: flex;
    gap: 12px;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      .grey-border {
        border: 1px solid #cccccc;
      }
      .content {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      .content .White {
        border: 1px solid whitesmoke;
      }
    }

    .option.selected {
      border: 1px solid $primaryColor;
    }
  }
}

.cart-overlay {
  .options {
    display: flex;
    gap: 8px;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      .grey-border {
        border: 1px solid #cccccc;
      }

      .content {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
      .content .White {
        border: 1px solid whitesmoke;
      }
    }

    .option.selected {
      border: 1px solid $primaryColor;
    }
  }
}
.pdp-error {
  .options {
    display: flex;
    gap: 12px;
    border: 1.5px solid red;
    width: fit-content;

    .attribute-name {
      color: red;
      font-weight: 700;
      margin-top: 43px;
    }

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      .grey-border {
        border: 1px solid #cccccc;
      }
      .content {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      .content .White {
        border: 1px solid whitesmoke;
      }
    }

    .option.selected {
      border: 1px solid $primaryColor;
    }
  }
}
.cart-page {
  .attribute-name {
    margin-top: 20px;
    font-weight: 700;
    display: inline-block;
  }
  .options {
    display: flex;
    gap: 6px;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      .grey-border {
        border: 1px solid #cccccc;
      }
      .content {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      .content .White {
        border: 1px solid whitesmoke;
      }
    }

    .option.selected {
      border: 1px solid $primaryColor;
    }
  }
}
