@use "../../global" as *;

.product-wrapper {
  margin-top: 80px;
  max-width: 1121px;
  display: flex;
  margin-left: 100px;
  .product-thumbnails {
    display: flex;
    flex-direction: column;
    width: 79px;
    margin-right: 40px;
    .thumbnail {
      cursor: pointer;
      border: 0.5px solid #cccccc;
      margin-bottom: 32.39px;
      height: 80px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .product-description {
    width: 292px;
    height: 595px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    .sub-title {
      margin-top: 16px;
    }
    .size {
      margin-top: 43px;
    }

    .color {
      margin-top: 24px;
    }
    .colors {
      margin-top: 10px;
      height: 32px;
      .color-options {
        width: 32px;
        height: 100%;
      }
    }
    .price {
      margin-top: 36px;
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
    }
    .price-value {
      font-family: "Raleway";
      margin-top: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 18px;
    }
    .add-to-cart {
      margin-top: 20px;
    }
    .details {
      margin-top: 40px;
    }
  }

  .product-image {
    width: 610px;
    height: 511px;
  }
  .image {
    object-fit: cover;
    width: 100%;
    height: auto;
    object-position: top;
  }

  .buy-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    background-color: $primaryColor;
    width: 292px;
    height: 52px;
    cursor: pointer;
    margin-top: 20px;
  }
  .quantity {
    display: flex;
    width: 292px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .count {
      font-size: 52px;
    }
    .count-control {
      padding: 2px;
      background-color: $primaryColor;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .count-control:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .decrease,
    .increase {
      width: 62px;
      height: 48px;
    }
  }
  .no-cart {
    cursor: not-allowed;
  }
  .out-of-stock {
    opacity: 0.5;
    background-color: #ffffff;
    position: relative;
    .text {
      position: absolute;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      top: 50%;
      left: 30%;
    }
  }
}
