.product-wrapper {
  margin-top: 80px;
  max-width: 1121px;
  display: flex;
  margin-left: 100px;
}
.product-wrapper .product-thumbnails {
  display: flex;
  flex-direction: column;
  width: 79px;
  margin-right: 40px;
}
.product-wrapper .product-thumbnails .thumbnail {
  cursor: pointer;
  border: 0.5px solid #cccccc;
  margin-bottom: 32.39px;
  height: 80px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.product-wrapper .product-description {
  width: 292px;
  height: 595px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.product-wrapper .product-description .sub-title {
  margin-top: 16px;
}
.product-wrapper .product-description .size {
  margin-top: 43px;
}
.product-wrapper .product-description .color {
  margin-top: 24px;
}
.product-wrapper .product-description .colors {
  margin-top: 10px;
  height: 32px;
}
.product-wrapper .product-description .colors .color-options {
  width: 32px;
  height: 100%;
}
.product-wrapper .product-description .price {
  margin-top: 36px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.product-wrapper .product-description .price-value {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
.product-wrapper .product-description .add-to-cart {
  margin-top: 20px;
}
.product-wrapper .product-description .details {
  margin-top: 40px;
}
.product-wrapper .product-image {
  width: 610px;
  height: 511px;
}
.product-wrapper .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  -o-object-position: top;
     object-position: top;
}
.product-wrapper .buy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  background-color: #5ece7b;
  width: 292px;
  height: 52px;
  cursor: pointer;
  margin-top: 20px;
}
.product-wrapper .quantity {
  display: flex;
  width: 292px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.product-wrapper .quantity .count {
  font-size: 52px;
}
.product-wrapper .quantity .count-control {
  padding: 2px;
  background-color: #5ece7b;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-wrapper .quantity .count-control:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.product-wrapper .quantity .decrease,
.product-wrapper .quantity .increase {
  width: 62px;
  height: 48px;
}
.product-wrapper .no-cart {
  cursor: not-allowed;
}
.product-wrapper .out-of-stock {
  opacity: 0.5;
  background-color: #ffffff;
  position: relative;
}
.product-wrapper .out-of-stock .text {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  top: 50%;
  left: 30%;
}/*# sourceMappingURL=product-display.css.map */