.cart.cart-overlay {
  border: black;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 190px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
}
.cart.cart-overlay .close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  right: 0%;
  cursor: pointer;
  margin: 2px 2px;
}
.cart.cart-overlay .item-image {
  width: 121px;
}
.cart.cart-overlay .item-image .images {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart.cart-overlay .item-count {
  width: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cart.cart-overlay .details {
  display: flex;
}
.cart.cart-overlay .item-description {
  width: 136px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
}
.cart.cart-overlay .item-description .title {
  width: 136px;
  height: fit;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  width: 136px;
  height: 52px;
  color: #1d1f22;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cart.cart-overlay .item-description .subtitle {
  width: 136px;
  height: 52px;
  font-weight: 300;
  font-size: 16px;
}
.cart.cart-overlay .item-description .price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.cart.cart-overlay .count-control {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart.cart-overlay .count-control .increase {
  position: absolute;
  top: 50%;
  width: 8px;
}
.cart.cart-overlay .count-control .increase-overlap {
  height: 8px;
}
.cart.cart-overlay .count-control .decrease {
  width: 8px;
}
.cart.cart-overlay .slider {
  display: none;
}

.cart-overlay:hover .close-button {
  opacity: 0.9;
}

.cart.cart-page {
  border: black;
  position: relative;
  display: flex;
  min-height: 288px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 1240px;
}
.cart.cart-page .close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  right: 0.5%;
  cursor: pointer;
  margin: 2px 2px;
  top: 0%;
  z-index: 50;
}
.cart.cart-page .details {
  display: flex;
  width: 100%;
}
.cart.cart-page .item-image {
  height: 288px;
  width: 200px;
  position: relative;
}
.cart.cart-page .item-image .images {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart.cart-page .item-count {
  width: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cart.cart-page .item-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
}
.cart.cart-page .item-description .title {
  width: 292px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart.cart-page .item-description .subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}
.cart.cart-page .item-description .price {
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.cart.cart-page .count-control {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart.cart-page .count-control .increase {
  position: absolute;
  top: 50%;
  width: 15px;
}
.cart.cart-page .count-control .increase-overlap {
  height: 15px;
}
.cart.cart-page .count-control .decrease {
  width: 15px;
}
.cart.cart-page .slider {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.cart.cart-page .slider .caret-left,
.cart.cart-page .slider .caret-right {
  cursor: pointer;
  display: flex;
  background-color: black;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.cart.cart-page:hover .close-button {
  opacity: 0.9;
}

.none {
  display: none;
}/*# sourceMappingURL=cart-item.css.map */