.wrapper{
    display: flex;
    flex-direction: column;
    
}
.app{
    height:100%;
    position:relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin:0px auto;
}
.overlay{
width:100vw;
background:black;
position: fixed;
opacity:0.6;
top:80px;
bottom:0px;
left:0%;
height:100%;

z-index: 50;
}
.message-wrapper{
width: 280px;
height:fit-content;
padding: 10px;
overflow: hidden;
position:fixed;
right:-1.5%;
top:15%;
z-index: 55;


}
.message{
 width: 250px;
 height:fit-content;
transform: translateX(250px);
 top:150px;
 border-radius: 4px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: #fff;
}
.text-message{
    padding:10px;
    padding-left:20px;
}

.indicator{background-color: green;
    height:5px;
}
.red{background-color: red;}

.none{
    display:none;
}

.animate{
    animation: showMessage 4s linear backwards; 

}
@keyframes showMessage {
0%{transform:translateX(250px);
   
}
10%{
    transform:translateX(0px)  
}
90%{
    transform:translateX(0px)  
}

100% {transform:translateX(280px)
    
}


}