body {
  margin: 0 auto;
  padding:0;
  max-width: 1440px;
  width:100%;
  box-sizing:border-box;
  font-family: 'Raleway', sans-serif;
  color:  #1D1F22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


